<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Snatch Ridesharing Service</title>
    <link rel="stylesheet" href="/css/mainstyle.css">
</head>
<body>


<h1 class="main">Snatch</h1>
<h2 class="aboutusheadline">About Us</h2>

<div class="topnav">
<a href="home">Home</a>
<a href="aboutus">About Us</a>
<a href="ourdrivers">Our Drivers</a>
<a href="contactus">Contact Us</a>
</div>


<img src="/images/car2.jpg" style="width: 100%;"/>

<p class="aboutus">

<strong>About Us</strong>
<br>

Our company started in early 2018. We started our 
company knowing that we wanted to be different from the standard ride sharing apps. 
We wanted to provide our customers with reliable drivers that they can count on that 
go through a very intense screening process before they even have the opportunity
 to go live as a driver. <br><br>

<strong>Why did we choose the name Snatch for our app?</strong><br>
Because we wanted to Snatch customers up 
from our main competition 
with unbeatable prices and service!<br><br>

<strong>Why should you choose us?</strong>
<br> 

Because we will provide you with a free ride up to $20 with your first ride where our 
competitors usually only offer a free ride up to 5$ or $10 dollars for your first ride. 
We are the only ride sharing app that has a loyalty program, where after every ten rides 
you get a free ride up to $5! Also, we are the only ride sharing app that has a 
very intense screening process for the drivers we hire. We put our drivers through a 
series of tests to avoid collisions, accidents, and even train them on the best routes 
to take during rush hour to avoid traffic!
</p>

</body>
</html>   