<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Snatch Ridesharing Service</title>
    <link rel="stylesheet" href="/css/mainstyle.css">
</head>
<body>

<h1 class="main">Snatch</h1>
<h2 class="contact">Contact Us</h2>

<div class="topnav">
<a href="home">Home</a>
<a href="aboutus">About Us</a>
<a href="ourdrivers">Our Drivers</a>
<a href="contactus">Contact Us</a>
</div>

<script>
function openWin() {
    window.open("contact-form","_blank","width=400, height=400");
}
</script>

<img src="/images/car3.jpg" style="width: 100%;"/>


<h2 class="information">If you would like to sign up for our service as a rider or driver, or would like to contact us with a question, comment, or concern please press the button below. Thank you!</h2>

<div class="button">
<input type="button" value="Contact US" onclick="openWin()">
</div>

</body>
</html>   