<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Snatch Ridesharing Service</title>
    <link rel="stylesheet" href="/css/mainstyle.css">
</head>
<body>

<h1 class="contact-form-header">CONTACT US</h1>

<div id="messageInput">
    <strong>Please explain why you are contacting us today and we will have one of our repesentives reach out to you as soon as possible!</strong>
    <form method="POST" action="/contact-form">
        <br>
        <strong>Please note if you are signing up for our service please give us a call at 555-555-5555 and we will have one of our repesentives get your account set up today! :)</strong>
        <br>
        <br>
        <textarea rows="5" cols="50"></textarea>
        <br>
        <input type="submit" value="Submit" name="message">
    </form>
</div>
</body>
</html>