<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Snatch Ridesharing Service</title>
    <link rel="stylesheet" href="/css/mainstyle.css">
</head>
<body>

<h1 class="main">Snatch</h1>
<h2 class="welcome">Welcome To Snatch!</h2>

<div class="topnav">
<a href="home">Home</a>
<a href="aboutus">About Us</a>
<a href="ourdrivers">Our Drivers</a>
<a href="contactus">Contact Us</a>
</div>


<img src="/images/car.jpg" style="width: 100%;"/>

</body>
</html>   