<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Snatch Ridesharing Service</title>
    <link rel="stylesheet" href="/css/mainstyle.css">
</head>
<body>


<h1 class="main">Snatch</h1>
<h2 class="drivers">Our Drivers</h2>

<div class="topnav">
<a href="home">Home</a>
<a href="aboutus">About Us</a>
<a href="ourdrivers">Our Drivers</a>
<a href="contactus">Contact Us</a>
</div>



<img src="/images/driver.jpg" style="width: 100%;"/>

<p class="aboutdrivers">Here at Snatch we are committed to hiring safe, friendly, professional
drivers that go through a very intense screening process before being able to
go live as a driver.<br> <br> Our drivers are trained on what routes to take during rush hour
in order to get you to your destination as fast and safely as possible!</p>
</body>
</html>   